body{

    margin: 0;
    padding: 0;
    overflow-y: scroll;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}
.header{
    min-height: 100vh;
}
/* navbar styling */
.navbar{
    display:flex;
    width: 100%;
    top: 0%;
    justify-content: space-between;
    align-items: center;
    background-color: #00296B;
    position: fixed;
    z-index: 5;

}
nav img{
    width: 150px;
    position: fixed;
    left: 90px;
    top: 34px;
}
.nav .nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 30px;
    padding-top: 26px;
}
.nav-links ul li a{
    color: #ffffff ;
    text-decoration: none;
    font-size: 20px;
    margin-right: 40px;
}
.nav-links ul li a:hover{
    color: #ffd500;
    transition: 0.2s ease-in-out;
}
.navbar :where(#menu-close-button, #menu-open-button) {
    display: none;
}

/* content styling */
.mainpage{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.mainpage h1{
    margin-left: -63%;
    margin-top: 3%;
    font-size: 35px;
}
.mainpage p{
    margin-left: -47%;
    margin-top: -20px;
    font-size: 110%;
    line-height: 30px;
}
.mainpage .apply{
    width: 160px;
    height: 40px;
    border: none;
    margin-bottom: 10px;
    margin-left: -250px;
    font-size: 15px;
    border-radius: 200px;
    cursor: pointer;
    margin-top: 25px;
    background-color: #00296B;
}
.mainpage .apply a{
    text-decoration: none;
    color: #ffd500;
    transition: 0.5s;
}
.apply:hover{
    background-color: #efeded;
    transition: 0.5s;
    
}
.apply:hover a{
    color: #000000;
    transition: .5s;
}
.contact{
    width: 160px;
    height: 40px;
    border: 2px solid transparent;
    margin-left: 20px;
    font-size: 15px;
    transition: 0.3 ease;
    border-radius: 200px;
    cursor: pointer;
    margin-top: 25px;
}
.contact a{
    text-decoration: none;
    color: #000000;
    transition: 0.5s;
}
.contact:hover{
    background-color: #00296B;
    transition: 0.5s;
    
}
.contact:hover a{
    color: #ffd500;
    transition: .5s;
}
/* for responsive design */
@media screen and (max-width: 900px) {
    :root {
        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 1.8rem;
    }

    body.show-mobile-menu {
        overflow: hidden;
    }

    body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
    }

    .navbar :where(#menu-close-button, #menu-open-button) {
        display: block;
        font-size: var(--font-size-xl);
        color: #00296B;
    
    }

    .navbar #menu-close-button {
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .navbar #menu-open-button {
        color: #00296B;
    }

    .nav-links {
        display: block;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        flex-direction: row;
        padding-top: 70px;
        background: #00296B;
        align-items: center;
        position: fixed;
        transition: left 0.3s ease;
    }

    body.show-mobile-menu .navbar .nav-links {
        left: 0;
    }

    .nav-links ul li a {
        font-size: var(--font-size-l);
        margin-top: 15px;
        display: block;
    }
}

